* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global Root */
:root {
  --primary-color: #fff;
  --primary-text-transform: uppercase;
  --primary-width: 80%;
  --primary-margin: auto;
  --secondary-width: 100%;
}
/* Font Family */
@font-face {
  font-family: prateek-heading;
  src: url("fonts/Inter-VariableFont_opsz\,wght.ttf");
}
@font-face {
  font-family: prateek-body;
  src: url("fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: prateek-medium;
  src: url("fonts/Poppins-Medium.ttf");
}
/* Body Section */
.mainContainer {
  width: 100%;
  height: 85vh;
  background: url("assets/bg.jpg") no-repeat center / cover;
}
/* Navbar Section */
.navbar {
  width: var(--primary-width);
  margin: var(--primary-margin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  color: var(--primary-color);
  text-transform: var(--primary-text-transform);
}
.items {
  display: flex;
  list-style: none;
  gap: 40px;
}
.itemList {
  font-size: 15px;
  font-family: prateek-medium;
}
#logo {
  font-family: prateek-heading;
  font-weight: 700;
}

/* Hero Section */
.heroContainer {
  width: var(--primary-width);
  margin: var(--primary-margin);
  display: flex;
  align-items: center;
  padding: 50px 0px;
  color: var(--primary-color);
}
.heroContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#heroHeading {
  width: 68%;
  font-size: 68px;
  text-transform: var(--primary-text-transform);
  font-family: prateek-heading;
}
#heroParagraph {
  width: 80%;
  font-family: prateek-medium;
}
.heroImg {
  border-radius: 15px;
  box-shadow: inset 0px 0px 100px 5px hsl(250, 0%, 100%);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#heroImg {
  width: var(--secondary-width);
}
/* Category Section */
.categoryContainer {
  width: var(--primary-width);
  margin: var(--primary-margin);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 25px 10px;
}
.catCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px 10px;
}
#categoryHeading {
  text-transform: uppercase;
}
.categoryCard {
  width: 25%;
  height: 420px;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 15px hsla(30, 100%, 80%);
  padding: 10px;
  background-color: hsl(30, 100%, 60%);
  color: var(--primary-color);
}
.categoryItems {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
#catTitle {
  font-size: 18px;
  text-transform: var(--primary-text-transform);
  font-family: prateek-heading;
}
#catParagraph {
  text-align: left;
  font-size: 12px;
  font-family: prateek-medium;
}

#catImg {
  width: var(--secondary-width);
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
