* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global Root */
:root {
  --primary-color: hsl(0, 0%, 0%);
  --secondary-color: hsl(0, 0%, 50%);

  --primary-text-transform: uppercase;
  --secondary-text-transform: Capitalize;

  --primary-margin: auto;

  --primary-width: 80%;
  --secondary-width: 100%;

  --primary-font-family: prateek-heading;
  --secondary-font-family: prateek-body;
  --accent-font-family: prateek-medium;
}
/* Font Family */
@font-face {
  font-family: prateek-heading;
  src: url("fonts/Inter-VariableFont_opsz\,wght.ttf");
}
@font-face {
  font-family: prateek-body;
  src: url("fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: prateek-medium;
  src: url("fonts/Poppins-Medium.ttf");
}
/* Body Section */
.mainContainer {
  width: 100%;
  height: 100vh;
  background: url("assets/bg.jpg") no-repeat center / cover;
}
/* Navbar Section */
.navbar {
  width: var(--primary-width);
  margin: var(--primary-margin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  text-transform: var(--primary-text-transform);
  color: var(--primary-color);
}
.items {
  display: flex;
  list-style: none;
  gap: 40px;
}
.itemList {
  font-size: 15px;
  font-family: var(--accent-font-family);
}
#logo {
  font-family: var(--primary-font-family);
  font-weight: 700;
}

/* Hero Section */
.heroContainer {
  width: var(--primary-width);
  margin: var(--primary-margin);
  display: flex;
  align-items: center;
  padding: 50px 0px;
}
.heroContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#heroHeading {
  color: var(--primary-color);
  width: 68%;
  font-size: 68px;
  text-transform: var(--primary-text-transform);
  font-family: var(--primary-font-family);
}
#heroParagraph {
  width: 80%;
  font-family: var(--accent-font-family);
}
.heroImg {
  border-radius: 15px;
  box-shadow: inset 0px 0px 100px 5px hsl(250, 0%, 100%);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
#heroImg {
  width: var(--secondary-width);
  object-fit: cover;
}
/* Category Section */
.categoryContainer {
  width: var(--primary-width);
  margin: var(--primary-margin);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 180px 10px;
}
.catCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px 10px;
}
#categoryHeading,
#feaHeading {
  text-transform: var(--secondary-text-transform);
  font-family: var(--primary-font-family);
  position: relative;
}
#categoryHeading::after,
#feaHeading::after {
  content: "";
  display: block;
  width: 40%;
  margin: 20px auto;
  height: 3px;
  background-color: hsl(30, 100%, 50%);
}

.categoryCard {
  width: 25%;
  height: 420px;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 15px hsla(30, 100%, 80%);
  padding: 10px;
}
.categoryItems {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
#catTitle {
  color: var(--primary-color);
  font-size: 18px;
  text-transform: var(--secondary-text-transform);
  font-family: var(--primary-font-family);
}
#catParagraph {
  text-align: left;
  font-size: 12px;
  font-family: var(--accent-font-family);
  color: var(--secondary-color);
  font-weight: 600;
}

#catImg {
  width: var(--secondary-width);
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
/* Service Section */
.featuresContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  padding: 20px 0px;
}
.para {
  font-family: var(--accent-font-family);
  color: var(--secondary-color);
}
#feaParagraph {
  font-size: 15px;
}
.featureCard {
  width: var(--primary-width);
  margin: var(--primary-margin);
  padding: 20px 30px;
  box-shadow: inset 0px 0px 20px 1px hsl(30, 100%, 50%);
  border-radius: 20px;
}
.featureContent {
  display: flex;
  gap: 20px;
}
#feaImg {
  width: 30%;
  height: 200px;
  object-fit: contain;
}
#feaCont1 {
  display: flex;
  flex-direction: row-reverse;
}
/* Footer Section */
.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  background-color: hsl(0, 0%, 80%);
}
#footerContent {
  font-size: 15px;
  text-transform: capitalize;
  font-family: var(--accent-font-family);
}
